.container img{
  width:250px;
}
h1{
  font-size :50px;
  color:skyblue;
  
}
.wrapper{
  padding:0 15px;
}
header{
  background-color: greenyellow;
  height: 50px;
  color:blue
}
header img{
  width: 60px;
  height: 100%;
}
header p{
  font-size:20px;
  font-size:serif;
}
